<section class="side">
  <div class="img-outer">
    <img src="./assets/imgs/pic00.jpg" alt="Turan Abdurahmanova" />
  </div>
  <div class="flex">
    <div [class.active]="education" class="tab " (click)="getChosenSpeciality('education')">
      <img src="./assets/icons/user-graduate-solid.svg" alt="">
      <!-- <i class="icon-user-graduate-solid"></i> -->
    </div>
    <div [class.active]="skills" class="tab " (click)="getChosenSpeciality('skills')">
      <img src="./assets/icons/laptop-code-solid.svg" alt="">
      <!-- <i class="icon-laptop-code-solid"></i> -->
    </div>
    <div [class.active]="experience" class="tab " (click)="getChosenSpeciality('experience')">
      <img src="./assets/icons/briefcase-solid.svg" alt="">
      <!-- <i class="icon-briefcase-solid"></i> -->
    </div>
    <div [class.active]="contacts" class="tab " (click)="getChosenSpeciality('contacts')">
      <img src="./assets/icons/file-signature-solid.svg" alt="">
      <!-- <i class="icon-file-signature-solid"></i> -->
    </div>
  </div>
  <div class="speciality-content" *ngIf="education">
    <ul>
      <li>
        <b> Azərbaycan Respublikasının Prezidenti yanında Dövlət İdarəçilik Akademiyası</b>
        <p> <span>Fakültə:</span> İnzibati İdarə etmə</p>
        <p> <span>İxtisas:</span> Kompyuter Elmləri </p>
        <p> Sentyabr 2014 - İyun 2018 </p>
      </li>
      <li>
        <b>Code Academy </b>
        <p>Software Development</p>
        <p>Mart 2018 - Oktyabr 2019</p>
      </li>
    </ul>
  </div>
  <div *ngIf="skills" class="speciality-content" style="padding-right: 20px;">
    <div class="my-md-100">
      <div class="skills">Html/Html5</div>
      <div class="progress_defalut my-md-50">
        <div class="progress_main skill-95"></div>
      </div>
      <div class="count">
        <div class="progress">95%</div>
      </div>
    </div>
    <div class="my-md-100">
      <div class="skills">CSS/CSS3</div>
      <div class="progress_defalut my-md-50">
        <div class="progress_main skill-95"></div>
      </div>
      <div class="count">
        <div class="progress">95%</div>
      </div>
    </div>
    <div class="my-md-100">
      <div class="skills">Bootstrap</div>
      <div class="progress_defalut my-md-50">
        <div class="progress_main skill-95"></div>
      </div>
      <div class="count">
        <div class="progress">95%</div>
      </div>
    </div>
    <div class="my-md-100">
      <div class="skills">SASS</div>
      <div class="progress_defalut my-md-50">
        <div class="progress_main skill-95"></div>
      </div>
      <div class="count">
        <div class="progress">95%</div>
      </div>
    </div>
    <div class="my-md-100">
      <div class="skills">JavaScript</div>
      <div class="progress_defalut my-md-50">
        <div class="progress_main skill-80"></div>
      </div>
      <div class="count">
        <div class="progress">80%</div>
      </div>
    </div>
    <div class="my-md-100">
      <div class="skills">jQuery</div>
      <div class="progress_defalut my-md-50">
        <div class="progress_main skill-80"></div>
      </div>
      <div class="count">
        <div class="progress">80%</div>
      </div>
    </div>
    <div class="my-md-100">
      <div class="skills">Angular 8</div>
      <div class="progress_defalut my-md-50">
        <div class="progress_main skill-80"></div>
      </div>
      <div class="count">
        <div class="progress">80%</div>
      </div>
    </div>
    <div class="my-md-100">
      <div class="skills">Git &amp; Github</div>
      <div class="progress_defalut my-md-50">
        <div class="progress_main skill-60"></div>
      </div>
      <div class="count">
        <div class="progress">60%</div>
      </div>
    </div>
    <div class="my-md-100">
      <div class="skills">C# (ASP.NET)</div>
      <div class="progress_defalut my-md-50">
        <div class="progress_main skill-20"></div>
      </div>
      <div class="count">
        <div class="progress">20%</div>
      </div>
    </div>
    <div class="my-md-100">
      <div class="skills">MsSql</div>
      <div class="progress_defalut my-md-50">
        <div class="progress_main skill-20"></div>
      </div>
      <div class="count">
        <div class="progress">20%</div>
      </div>
    </div>
  </div>
  <div *ngIf="experience" class="speciality-content">
    <ul>
      <li>
        <b>Front-End Developer </b>
        <p>Innovations Center
          <br>Yanvar 2020
        </p>
      </li>
      <li>
        <b>Backend Developer </b>
        <p>Bank BTB
          <br>İyun 2019 - Dekabr 2019
        </p>
      </li>
      <li>
        <b>Mentor</b>
        <p>
          Code for Future layihəsi
          <br>Avqust 2018 - Sentyabr 2018
        </p>
      </li>
    </ul>
  </div>
  <div *ngIf="contacts" class="speciality-content">
    <ul>
      <li>
        <b>linkedin:<a href="https://www.linkedin.com/in/turan-abdurahmanova-2a2312180/" target="_blank">show
            profile</a></b>
      </li>
      <li>
        <b>mobile&amp;Telegram:+(994)50-350-42-90</b>
      </li>
      <li>
        <b>mail:turancha@code.edu.az</b>
      </li>
      <li>
        <b><a href="https://github.com/turanabdurahmanova" target="_blank">github.com/turanabdurahmanova</a></b>
      </li>
    </ul>
  </div>
</section>
