.side {
  position: relative;
  z-index: 2;
  .img-outer {
    position: relative;
    height: 385px;
    overflow: hidden;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
  .tab {
    height: 42px;
    box-shadow: 0px 2px 25px;
    transition: 0.5s;
    width: 25%;
    display: flex;
    cursor: pointer;
    justify-content: center;
    i {
      font-size: 25px;
      color: white;
    }
    img {
      width: 25px;
    }
    &.active {
      box-shadow: 0px 0px 0px;
    }
    &:hover {
      // box-shadow: 0px 0.1px 6px;
      box-shadow: 0px 0px 0px;
    }
  }
  .speciality-content {
    padding: 26px 15px;
    text-align: center;
    ul {
      padding: 0;
      b {
        display: block;
        margin-bottom: 15px;
        font-size: 16px;
      }
      li {
        margin-bottom: 20px;
        list-style-type: none;
      }
    }
  }
}

@media (max-width: 576px) {
  section.side {
    height: auto !important;
  }
}
