<section class="works" *ngIf="works.length > 0; else load">
  <div class="flex wrap">
    <div class="card" *ngFor="let work of works">
      <div class="img-outer">
        <img src="{{work.img}}" alt="3in" />
      </div>
      <h2>{{ work.title }}</h2>
      <div class=" content">
        <div class="tags">
          <span *ngFor="let technologies of work?.technologies">
            {{ technologies }}
          </span>
        </div>
        <p>
          {{ work.shortDesc | slice: 0:90 }}
          <span *ngIf="work.shortDesc.length > 90">...</span>
        </p>
      </div>
      <div class="buttons">
        <a href="{{work.site}}" target="_blank">
          Go To Site
        </a>
      </div>
    </div>
  </div>
</section>
<ng-template #load>
  <div id="loading">
    <div id="loading-center">
      <div class="loader">
        <div id="largeBox"></div>
        <div id="smallBox"></div>
      </div>
    </div>
  </div>
</ng-template>
