<section class="works-sc">
  <form class="flex" #searchForm="ngForm" (ngSubmit)="search()">
    <input type="text" name="search" id="search" [(ngModel)]="keyWord" placeholder="{{keyWord}}" required />
    <button class="tab" [disabled]="searchForm.invalid">search</button>
  </form>
  <div class="searchedElements" *ngIf="searchedWorks.length > 0; else load">
    <h1>Real Works</h1>
    <hr>
    <div class="flex wrap">
      <div class="card col-33" *ngFor="let work of searchedWorks.reverse()">
        <div class="img-outer">
          <img [src]="work.fields.img.fields.file.url" alt="{{ work.fields.title }}" />
        </div>
        <h2>{{ work.fields.title }}</h2>
        <div class="content">
          <div class="flex wrap">
            <span class="tags" *ngFor="let technologies of (work.fields.technologies | slice: 0:3)">
              {{ technologies }}
            </span>
            <span *ngIf="work.fields.technologies.length > 3" style="font-size:30px; color:#ffe915">...</span>
          </div>
          <p>
            {{ work.fields.shortDesc | slice: 0:120 }}
            <span *ngIf="work.fields.shortDesc.length > 120">...</span>
          </p>
        </div>
        <div class="buttons flex wrap">
          <a href="{{ work.fields.url }}" target="_blank" class="btn">
            Go To Site
          </a>
          <button class="btn" (click)="goToWorkDetailPage('l', work.sys.id)">
            Details
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="searchedElements" *ngIf="searchedOtherWorks.length > 0; else loadOther">
    <h1>Other Works</h1>
    <hr>
    <div class="flex wrap">
      <div class="card col-33" *ngFor="let work of searchedOtherWorks.reverse()">
        <div class="img-outer">
          <img [src]="work.fields.img.fields.file.url" alt="{{ work.fields.title }}" />
        </div>
        <h2>{{ work.fields.title }}</h2>
        <div class="content">
          <div class="flex wrap">
            <span class="tags" *ngFor="let technologies of (work.fields.technologies | slice: 0:3)">
              {{ technologies }}
            </span>
            <span *ngIf="work.fields.technologies.length > 3" style="font-size:30px; color:#ffe915">...</span>
          </div>
          <p>
            {{ work.fields.shortDesc | slice: 0:120 }}
            <span *ngIf="work.fields.shortDesc.length > 120">...</span>
          </p>
        </div>
        <div class="buttons flex wrap">
          <a href="{{ work.fields.url }}" target="_blank" class="btn">
            Go To Site
          </a>
          <button class="btn" (click)="goToWorkDetailPage('o', work.sys.id)">
            Details
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<ng-template #load>
  <h1 style="color: white; padding-left: 12px;">
    Not Founded In Works
  </h1>
  <!-- <div id="loading">
          <div id="loading-center">
              <div class="loader">
                  <div id="largeBox"></div>
                  <div id="smallBox"></div>
              </div>
          </div>
      </div> -->
</ng-template>

<ng-template #loadOther>
  <h1 style="color: white; padding-left: 12px;">
    Not Founded In Other Works
  </h1>
  <!-- <div id="loading">
            <div id="loading-center">
                <div class="loader">
                    <div id="largeBox"></div>
                    <div id="smallBox"></div>
                </div>
            </div>
        </div> -->
</ng-template>
