@import "./font";
/* You can add global styles to this file, and also import other style files */
$black: #484848ba;
$yellow: black;
$blue: #2a00b2;

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 0px;
  margin: 0px;
  line-height: 1.42857143;
  color: #333;
  background: $black;
}

i.fa {
  font-size: 32px;
}

.progress_defalut {
  height: 8px;
  float: right;
  background: grey;
}

.progress_main {
  width: 0%;
  transition: 2s;
  height: 100%;
  background: #484848;
}

.progress {
  position: relative;
  width: 100%;
  margin: 0.5rem 0 1rem 0;
  overflow: hidden;
  margin-bottom: 0px;
  background-color: transparent;
  border-radius: 0px;
  box-shadow: inset 0 1px 2px transparent;
}

.skills {
  float: left;
  margin-top: -8px;
  margin-left: 10px;
}

* {
  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    // background: #beae1c;
    background-color: gray;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
    // background: url(/assets/imgs/scroll-1.png);
  }

  ::-webkit-scrollbar-thumb:window-inactive {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
    // background: url(/assets/imgs/scroll-1.png);
  }
}

.col-20 {
  width: 20%;
}

.col-25 {
  width: 25%;
}

.col-33 {
  width: 33.33%;
}

.col-40,
.skill-40 {
  width: 40%;
}

.col-50,
.my-md-50,
.skill-50 {
  width: 50%;
}

.col-60 {
  width: 60%;
}

.col-75,
.skill-75 {
  width: 75%;
}

.skill-70 {
  width: 70%;
}

.skill-80 {
  width: 80%;
}

.skill-90 {
  width: 90%;
}

.skill-95 {
  width: 95%;
  transition: 2s;
}

.my-md-100 {
  width: 100%;
}

.clearfix {
  clear: both;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.flex-v-center {
  justify-content: center;
}

.flex-h-center {
  align-items: center;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.btn {
  background: $yellow;
  border: 2px solid transparent;
  cursor: pointer;
  padding: 7px 10px;
  margin: 5px;
  margin-left: 0px !important;
  transition: 0.3s ease-in-out;
  color: white;
  font: {
    size: 17px;
  }
  &:hover {
    background: transparent;
    color: $yellow !important;
    border: 2px solid $yellow;
  }
}

.white {
  color: white !important;
}

.tags {
  background: transparent;
  color: $yellow !important;
  border: 2px solid $yellow;
  margin: 5px !important;
  margin-left: 0px !important;
  padding: 7px 10px;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  padding: 0px;
  &:focus {
    outline: 0px;
  }
}

img {
  width: 100%;
  display: block;
}

p {
  margin: 0 0 10px;
  a {
    color: #039be5 !important;
  }
}

section {
  height: 100vh !important;
  overflow-y: scroll !important;
}

form {
  overflow: hidden;
  #search {
    transition: 0.3s ease-in-out;
    width: 100%;
    border: 6px solid black;
    padding: 0px 9px;
    color: white;
    background: gray;
    box-shadow: 0px 2px 25px gray;
    font: {
      size: 15px;
    }
    &:focus {
      outline: 0px;
    }
    &::placeholder {
      color: black;
    }
  }
  .tab {
    width: 50%;
    transition: 0.3s ease-in-out;
    padding: 7px 0px;
    background: $yellow;
    cursor: pointer;
    font: {
      size: 22px;
    }
  }
  [disabled] {
    width: 0px;
    overflow: hidden;
    transition: 0.3s ease-in-out;
  }
}

.tab {
  padding: 5px 0px;
  color: $black;
  justify-content: center;
  box-shadow: 0px 2px 25px;
  transition: 0.5s;
  width: 25%;
  cursor: pointer;
  i {
    font-size: 25px;
    color: white;
  }
  img {
    width: 30px;
  }
  &.active {
    box-shadow: 0px 0px 0px;
  }
  &:hover {
    box-shadow: 0px 0.1px 6px;
  }
}

* {
  animation: nav;
  animation-duration: 1s;
}

div {
  transition: 0.6s ease-in-out;
}

@keyframes nav {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#loading {
  background-color: #484848;
  height: 100%;
  width: 100%;
  // position: fixed;
  margin-top: 0px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  overflow: hidden !important;
  right: 0px;
  z-index: 999;
}

#loading-center {
  width: 100%;
  height: 100%;
  position: relative;
}

.loader {
  width: 3em;
  height: 3em;
  animation: loaderAnim 1.25s infinite;
  outline: 1px solid transparent;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

.loader #largeBox {
  height: 3em;
  width: 3em;
  border: 4px solid #ffe915;
  outline: 1px solid transparent;
  position: fixed;
}

.loader #smallBox {
  height: 3em;
  width: 3em;
  border: 4px solid #ffe915;
  position: fixed;
  z-index: 1;
  outline: 1px solid transparent;
  animation: smallBoxAnim 1.25s alternate infinite ease-in-out;
}

@keyframes smallBoxAnim {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(0.75);
  }
}
@keyframes loaderAnim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

.progress {
  text-align: right;
  color: #484848;
  display: inline-block;
  font-weight: 700;
  float: right;
  height: auto;
}

.speciality-content {
  h1 {
    margin-bottom: 0px;
    margin-top: 30px;
  }
}

.close {
  position: fixed;
  top: 40px;
  left: -100vw;
  background: $yellow;
  padding: 5px 0px;
  min-width: 80px;
  box-shadow: 0px 2px 25px $black;
  z-index: 120;
  cursor: pointer;
  transition: 0.6s ease-in-out;
}

// @media only screen and (max-width: 716px) {
//   section {
//     height: 100vh !important;
//     overflow-y: auto !important;
//   }
//   .close {
//     left: 0px;
//   }
//   body > .flex {
//     display: block;
//     position: relative;
//   }
//   .side-sc {
//     position: absolute !important;
//     top: 0px;
//     left: -100vw;
//     width: 100%;
//     transition: 0.3s ease-in-out;
//   }
//   .openMenu {
//     left: 0vw;
//   }

//   .side-sc-container {
//     &.col-25 {
//       width: 100% !important;
//     }
//     &.col-75 {
//       width: 100% !important;
//     }
//   }
// }

.flex-v-right {
  justify-content: flex-end;
}

.work-types {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 99;
  color: white;
  // background: $black;
  padding: 6px 12px;
  display: flex;
  img {
    width: 32px;
  }
  a {
    padding: 0px 9px;
    color: black;
    transition: 0.3s ease-in-out;
    font-size: 18px;
  }
  .active {
    color: white;
  }
}
